streamlit #frontend library 

#utilitites
numpy 
pandas

#face recognition
scikit-learn
dlib-bin
git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0

supabase  # for db
bcrypt    # method for hashing

segno    # for qr code
pillow   # helps for image preprocessing in python



#for voice
librosa # edit and load voice
resemblyzer # makes embeddiong of voice